{% extends "layout.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block body %}
    <br/>
    <br/>
    <div class="jumbotron">
        <h3>
            {{ page_title }}
        </h3>
        <p>Here You can check book availability</p>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-2">
            <input type="button" class="btn" id="show-books" value="Show all books">
        </div>

        <div class="col-md-4">
            <div class="btn-group closed"  id="btn-pg-main-items">
                <a href="#" class="btn btn-success">Items per page</a>
                <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" id="ul-page-size-main">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="divider"></li>
                    <li><a href="#">100</a></li>
                </ul>
            </div>
            <a href="#" id="btn-pg-main" class="btn btn-success disabled">100</a>
        </div>

        <div class="input-group">
            <span class="input-group-addon">Search book by title</span>
            <input type="text" class="form-control" id="txt-search">
            <span class="input-group-btn">
                <button
                        class="btn btn-default"
                        type="button"
                        onclick="getAllBooks($('#txt-search').val())"
                        id="btn-search-book">
                Search Book
                </button>
            </span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-8">
            <table class="table table-hover" id="tbl-available-books">
                <thead>

                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="pagination hidden" id="pg-main-books">
                <li id="pg-main-left" class="disabled"><a href="#">&laquo;</a></li>
                <li id="page-number-main"><a href="#">1</a></li>
                <li id="pg-main-right"><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <div class="row">

    </div>
{% endblock %}
